@using NSDC.Assessor.Utility;
@using NSDC.Assessor.BusinessObject.UserAccount;
@{
    ViewBag.Title = "DailyReports";
    UserInfo info = new UserInfo();

    if (Session["UserInfo"] != null)
    {
        info = (UserInfo)Session["UserInfo"];
        if (info.LoginType == eLoginType.AGENCIES.ToString())
        {
            Layout = "~/Views/Shared/_AgenciesLayout.cshtml";
        }
        else if (info.LoginType == eLoginType.SSC.ToString())
        {
            Layout = "~/Views/Shared/_SSCLayout.cshtml";
        }
        else
        {
            Layout = "~/Views/Shared/_Layout.cshtml";
        }

    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<script src="~/Areas/Report/Script/CandidateCountwisebatch.js"></script>
<h2 class="page-header"><span>Candidate Count Wise Batch List</span></h2>
<div ng-controller="CandidateData">
    <form ng-submit="GetDailyReports()">
        <div class="form-row">
            <div class="col-md-4">
                <label>Training Type</label>
                <div>
                    <select class="form-control" ng-model="Training_Type">
                        <option value="" disabled="disabled">--Select --</option>
                        <option value="STT">Short Term Training</option>
                        <option value="SP">Special Project</option>
                        <option value="RPL">RPL</option>
                    </select>
                </div>
            </div>

            <div class="col-md-4">
                <label>Training Date</label>
                <div>
                    <input type="text" id="Training_date" class="form-control" placeholder="Select Date" ng-model="Training_Date" />
                </div>
            </div>
        </div>
        <br />
        <div class="form-group text-center">
            <button class="btn btn-primary" type="submit" ng-submit="GetDailyReports()">Search</button>
            <button class="btn btn-danger" type="submit">Clear</button>
        </div>
    </form>

    <div class="card mb-3" ng-show="!modal1">
        <div class="table-responsive">
            <div ng-show="DailyReport.length>0">
                <div>
                    <a ng-click="ExportDatas()" href="javascript:;" class="btn btn-primary">
                        <i class="fas  fa-file-excel" aria-hidden="true"></i>
                    </a>
                </div>

                <table class="table table-bordered" width="100%" cellspacing="0" id="GFG" datatable="ng">
                    <thead>
                        <tr style="border:solid 1px #000">
                            <th>S.No</th>
                            <th>Sector Name</th>
                            <th>Smart Centre Batch ID</th>
                            <th>Batch Name</th>
                            <th>Partner Name</th>
                            <th>SCCentreID</th>
                            <th>Centre Name</th>
                            <th>Tc State</th>
                            <th>Tc District</th>
                            <th>Tc Address</th>
                            <th>TC latitude</th>
                            <th>TC longitude</th>
                            <th>Batch Start Date</th>
                            <th>Batch End Date</th>
                            <th>Prefered Assessment Date</th>
                            <th>Job Role</th>
                            <th>Job role Sector Type</th>
                            <th>Training Code</th>
                            <th>SC Agency Name</th>
                            <th>Assessor Name</th>
                            <th>Assessor Email</th>
                            <th>Gender</th>
                            <th>Training Type</th>
                            <th>Total Candidate</th>
                            <th>Total Present</th>
                            <th>Total AuthAadhaar</th>
                            <th>Total Manually</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="dr in DailyReport track by $index">
                            <td>{{$index+1}}</td>
                            <td>{{dr.SectorName}}</td>
                            <td>{{dr.SmartCentreBatchID}}</td>
                            <td>{{dr.BatchName}}</td>
                            <td>{{dr.PartnerName}}</td>
                            <td>{{dr.SCCentreID}}</td>
                            <td>{{dr.CentreName}}</td>
                            <td>{{dr.TcState}}</td>
                            <td>{{dr.TcDistrict}}</td>
                            <td>{{dr.TcAddress}}</td>
                            <td>{{dr.TClatitude}}</td>
                            <td>{{dr.TClongitude}}</td>
                            <td>{{dr.BatchStartDate}}</td>
                            <td>{{dr.BatchEndDate}}</td>
                            <td>{{dr.PreferedAssessmentDate}}</td>
                            <td>{{dr.JobRole}}</td>
                            <td>{{dr.JobroleSectorType}}</td>
                            <td>{{dr.TrainingCode}}</td>
                            <td>{{dr.SCAgencyName}}</td>
                            <td>{{dr.AssessorName}}</td>
                            <td>{{dr.AssessorEmail}}</td>
                            <td>{{dr.Gender}}</td>
                            <td>{{dr.TrainingType}}</td>
                            <td>{{dr.TotalCandidate}}</td>
                            <td>{{dr.TotalPresent}}</td>
                            <td>{{dr.TotalAuthAadhaar}}</td>
                            <td>{{dr.TotalManually}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#Training_date").datepicker({
            format: 'YYYY/MM/DD'

        });

    });
</script>

<script>
    function printDiv() {
        var divContents = document.getElementById("GFG").innerHTML;
        var a = window.open('', '');
        a.document.write('<html>');
        a.document.write('<body > <br>');
        a.document.write('<table style="border:solid 1px #000">');
        a.document.write('<tr style="border:solid 1px #000">');
        a.document.write(divContents);
        a.document.write('</tr>');
        a.document.write('</table>');
        a.document.write('</body></html>');
        a.document.close();
        a.print();


    }
</script> 