@{
    ViewBag.Title = "ChangePassword";
}

<script src="~/Scripts/Home/ChangePasswordContoller.js"></script>
<h2 class="page-header"><span>Change Password</span></h2>
<div ng-controller="ChangePasswordContoller">
    <div>
        <form>
            <div class="form-group">
                <div class="form-row">

                    <div class="col-md-4">
                        <label for="OldPassword">Old Password</label>
                        <div>
                            <input type="password" id="OldPassword" ng-disabled="isViewMode"  class="form-control" ng-model="User.OldPassword" placeholder="Old Password" required="required" autofocus="autofocus">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="NewPassword">New Password</label>
                        <div>
                            <input type="password" ng-disabled=" isViewMode" id="NewPassword" class="form-control" ng-model="User.NewPassword" placeholder="New Password" required="required">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="ConfirmPassword">Confirm Password</label>
                        <div>
                            <input type="password" id="ConfirmPassword" ng-disabled="isViewMode" class="form-control" ng-model="User.ConfirmPassword" placeholder="Confirm Password" required="required">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group text-center">
                <button class="btn btn-primary" ng-hide="isViewMode" ng-click="SavePassword()">Save Password</button>
                <button class="btn btn-danger" ng-click="Close()">Clear</button>
            </div>
        </form>
    </div>
   
</div>
