@model NSDC.Assessor.BusinessObject.UserAccount.UserLogin 
@{
    Layout = null;
    ViewBag.Title = "ForgetPassword";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title> Forgot Password</title>
    <!-- Bootstrap core CSS-->
    <link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="~/Content/assets/fontawesome/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <!-- Custom styles for this template-->
    <link href="~/Content/assets/css/sb-admin.css" rel="stylesheet">
    <link href="~/Content/assets/css/style.css" rel="stylesheet">
    @*/Js files/*@

</head>
<body class="bg-dark">
    <div class="login-wrapper">
        <div class="container">
            <div class="logo-wrapper text-center">
                <a href="#"><img src="~/Content/assets/images/NSDC.png" /></a>
            </div>
            <div class="card card-login mx-auto mt-5 forgot-password-wrapper">
                <div class="card-header">Forgot Password</div>
                <div class="card-body">
                    @using (Html.BeginForm())
                    {
                        <div class="text-center mb-4">
                            <h4>Forgot your password?</h4>
                            <p>Enter your email address and we will send you instructions on how to reset your password.</p>
                        </div>

                        if (string.IsNullOrEmpty(ViewBag.Success))
                        {
                            <div class="form-group">
                                <div class="form-label-group">
                                    @Html.TextBoxFor(m => Model.Username, new { @type = "email", @class = "form-control", @placeholder = "Username" })
                                    <label for="Username">Enter email address </label>
                                </div>
                                @*@Html.ValidationMessageFor(m => m.Username, null, new { @class = "err" })*@

                                @if (!string.IsNullOrEmpty(ViewBag.Error))
                                {
                                    <div class="clearfix"></div>
                                    <span class="err field-validation-error">@ViewBag.Error</span>
                                }
                            </div>
                            <input type="submit" id="btnForgot" value="Send Recovery Email" class="btn btn-primary btn-block">
                        }
                        else
                        {

                            <div class="text-center">
                                <p> @ViewBag.Success. Visit the <a href="/Home/Logout" class="btn btn-primary btn-block">Login</a> page to login.</p>
                            </div>

                        }
                    }



                </div>
            </div>
        </div>
                   
    </div>
</body>
</html>



