
@{
    ViewBag.Title = "UnderDevelopment";
}
<br />
@*<form>
    <div class="form-group">
        <div class="form-row">
            <div class="col-md-4">
                <label>State</label>
                <div class="form-label-group">

                    <select id="firstName" class="form-control">
                        <option>1</option>
                        <option>1</option>
                    </select>

                </div>
            </div>
            <div class="col-md-4">
                <label>Gender</label>
                <div class="form-label-group">
                    <input type="radio" name="name" />
                    <input type="radio" name="name" />
                </div>
            </div>
            <div class="col-md-4">
                <label>Gender</label>
                <div class="form-label-group">
                    <input type="checkbox" />
                    <input type="checkbox" />
                </div>
            </div>
        </div>
    </div> 
</form>*@

<br /><br /><br /><br /><br /><br />
<h1 class="display-4 text-info text-center">This page is under development</h1>
<br /><br />
      <p class="lead text-center">
          Page is under development. You can
          <a href="#" onclick="goBack()">Go Back</a>
          to the previous page, or
          <a href="/Home/Index">Return Home</a>.
      </p>


<script>
function goBack() {
  window.history.back();
}
</script>