
@{
    ViewBag.Title = "Job Role Master";
}
<script src="~/Scripts/Master/JobRoleMasterController.js"></script>

<div ng-app="app" ng-controller="JobRoleMasterController">
    <div ng-show="!Isshown">
        <h2 class="page-header"><span>Job Role Master</span></h2>
        <form>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-4">
                        <label for="StateId">Sector Name</label>
                        <div class="">
                            <select id="SectorId" class="form-control" ng-disabled="isViewMode" ng-model="Agency.SectorId" required="required" ng-options="value.ID as value.Name for (key, value) in SectorList">
                                <option value="">--Select --</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="JobName">Job Name</label>
                        <div class="">
                            <input type="text" ng-disabled="isViewMode" id="JobName" only-Letters-Input maxlength="100" class="form-control" ng-model="Agency.name" placeholder="Job Name" required="required" autofocus="autofocus">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="SectorType">Sector Type</label>
                        <div class="">
                            <select id="SectorType" class="form-control" ng-disabled="isViewMode" ng-model="Agency.SectorType" required="required">
                                <option value="">--Select --</option>
                                <option value="Manufacturing">Manufacturing</option>
                                <option value="Service">Service</option>
                            </select>

                        </div>
                    </div>
                </div>
            </div>           
            <div class="form-group text-center">
                <button class="btn btn-primary" ng-hide="isViewMode" ng-click="SaveDetails()">Save</button>
                <button class="btn btn-danger" ng-click="Closed()">Clear</button>
                <button class="btn btn-primary" ng-click="Upload()">Upload File</button>
            </div>
        </form>
    </div>
    <div ng-show="Isshown">
        <h2 class="page-header"><span>Upload Job Role </span></h2>
        <div class="form-group">
            <div class="form-row">
                <div class="col-md-4">
                    <div class="group">
                        <label>Select File</label>
                        <div class="clearfix"></div>
                        <input type="file" id="fileUpload" name="file" class="inputMaterial" />
                        <span class="highlight"></span>
                        <span class="bar"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group text-center">
            <input type="button" class="btn btn-primary" ng-click="HideDiv()" value="Back" />
            <button class="btn btn-primary" ng-hide="isViewMode" ng-click="UploadFile()">Upload</button>
            <button class="btn btn-primary" ng-click="Close()">Clear</button>
            <input type="button" class="btn btn-primary" ng-click="DownloadFile('/DMS/Download/JobRole/Document_Sample_JobRole.csv')" value="Download File Formate" />
        </div>
    </div>
    <!-- DataTables Example -->
    <div class="card mb-3">      
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" datatable="ng" id="dataTable1" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Sector Name</th>
                            <th>Job Name</th>
                            <th>Sector Type</th>
                            <th style="width:15%">Status</th>
                            <th style="width:15%">Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Sector Name</th>
                            <th>District Name</th>
                            <th>Sector Type</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr class="ng-cloak" ng-repeat="u in agencylist">
                            <td>{{u.SectorName}}</td>
                            <td>{{u.Name}}</td>
                            <td>{{u.SectorType}}</td>
                            <td>
                                <div ng-if="u.Status">
                                    <a href='#' ng-click="OperactionAgency(u.ID,'Inactive')" title="Click to Inactive">
                                        <i class="fa fa-unlock-alt green" aria-hidden="true"> Active </i>
                                    </a>
                                </div>
                                <div ng-if="!u.Status">
                                    <a href='#' ng-click="OperactionAgency(u.ID,'Active')" title="Click to Active"><i class="fa fa-lock red" aria-hidden="true"> Inactive</i></a>
                                </div>
                            </td>
                            <td>
                                <a href='#' title="View" ng-click="Edit(u,'')" class="actn"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                <a href='#' title="Edit" ng-click="Edit(u,'Edit')" class="actn"><i class='fas fa-pencil-alt' aria-hidden='true'></i></a>

                                @*<a href='javascript:void(0);' ng-click="OperactionAgency(u.ID,'Delete')" title="Click to Delete" class="actn actn-del"><i class='fa fa-trash' aria-hidden='true'></i></a>*@

                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>



